/* <!--#791E1E (Maroon)-->
    <!--#E2BA86 (Khaki)-->
    <!--#CE3179 (Magenta)-->
    <!--#FFF6C5 (Cream)-->
    <!--#FFFFFF (White)-->
    <!--#FFCBA9 (Melon Orange)-->
    <!--#FF7070 (Red na medj orange na hindi parang pomagranate na mukhang pink na medj hindi rin)-->*/

    body{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: #FFF6C5;
        color: #333;
    
    }

    header {
        background-color: #791E1E;
        color: white;
        padding: 10px 20px;
        margin: 0px;
        padding: 0px;
        position: fixed;
        width: 100%;
        z-index: 1000;
    }

    .logo {
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: flex-start;
    }
    .logo img {
        width: auto;
        height: 70px;
        border-radius: 50%;
    }
    .logo p {
        font-size: 1.5rem;
        font-family: 'Victor Mono', 'Courier New', Courier, monospace;
    }
    .header-actions {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
        margin-right: 30px;
    }
    
    .upper{
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 10px;
    }
    
    
    .lower{
        background-color: #E2BA86;
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        align-items: center;
    }
    
    .contact-btn {
        background-color: #FFF6C5;
        color: #CE3179;
        padding: 8px 15px;
        border-radius: 15px;
        font-size: 0.9rem;
        cursor: pointer;
        border-color: #CE3179;
        border: solid;
        height: 53px;
        width: 130px;
        border-width: medium;
        transition: all 0.3s ease-in-out;
    }
    .contact-btn:hover {
        transform: scale(1.1);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
    
    .subheader {
        display: flex;
        justify-content: flex-start;
        background-color: #E2BA86;
        text-align: center;
        padding: 20px 0;
        color: white;
    }
    
    .navButton{
        margin-right: 20px;
        background-color: #FFF6C5;
        font-family: 'Victor Mono', 'Courier New', Courier, monospace;
        color: #CE3179;
        border-radius: 25px;
        border: none;
        height: 35px;
        width: 95px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }
    
    .navButton:hover{
        background-color: #B52323;
        color: #FFFFFF;
        transform: scale(1.1);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
    
    .search{
        display: flex;
        justify-content: flex-end;
        margin-right: 80px;
        
    }
    
    .search-bar {
        background-color: #fef9ef;
        padding: 5px 10px;
        border: 1px solid;
        border-radius: 35px;
        height: 25px;
        padding-right: 25px;
        width: 380px;
        
    }
    
    
    .topPart {
        display: flex;
        align-items: center;
        gap: 10px;
        background-color: #791E1E;
    }
    
    .bottomPart {
        display: flex;
        background-color: #DDA977  ;
    }
    
    .logo img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    .aboutUs-part{
        display: flex;
        flex-direction: column;
        padding-top: 180px;
        font-family: 'Urbanist';
        
    }

    .uppercontent{
        margin-top: 15px;
    }

    .mission{
        color:#CE3179;
        padding:8px;
        text-align: center;
        
    }

    .mission-des{
        margin-top: 10px;
        text-align: center;
        color: #000000;
        font-weight: bold;
        font-size: 25px;
        padding-left: 80px;
        padding-right: 80px;
        word-spacing: 3px;
    }

    .liness{
        height: 1px;
        width: 90%;
        background-color: #000000;
        border: none;
    }

    .mission{
        font-size: 50px;
        font-weight: 900;
        margin: 0;
        padding: 0;
    }

    .uppercontent{
        display: flex;
        flex-direction: column;
    }

    .lowercontent{
        display: flex;
        justify-content: space-between;
        padding: 0px 50px 50px 50px;
    }

    .jrcLogo{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 50%;
    }

    .contact-info{
        width: 50%;
        margin-left: 35px;
    }

    .logaur{
        height: 380px;
        width: auto;
    }

    .boldedText{
        font-size: 50px;
        color:#CE3179;
        font-weight: 900;
        text-shadow: 0px 4px 4px #c3bc98;
        margin: 35px;
    }

    .forContacts{
        display: flex;
        width: 70%;
        height: 78px;
        background-color: #F5CFAA;
        border: none;
        border-radius: 30px;
        align-items: center;
        margin-top: 15px;
        margin-left: 55px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .links{
        color: #CE3179;
    }

    .imgSize{
        width: auto;
        height: 50px;
        padding: 16px;
    }

    .place{
        color: #CE3179;
        text-decoration: underline;
    }


    .socials{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 30%;
    }

    .othersocials{
        height: 20px;
        border: none;
        margin-left: 15px;
    }

    @keyframes transitionPage{
        from{
            opacity: 0;
            transform: rotateX(-10deg);
        }
        to{
            opacity: 1;
            transform: rotateX(0);
        }
    }

    main{
        animation: transitionPage 0.53s;
    }